* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

.navbar {
  background-color: #fff;
}

.navbar-brand img {
  margin: 0px 20px 0px 50px;
}

.nav-item a {
  color: #474747;
}

.nav-item a:hover {
  color: #8e8d8c;
  transition: 1s;
}

#navbarNav {
  padding-right: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: #eda15b;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#active {
  color: #eda15b;
}

.carousel-item img {
  object-fit: cover;
  height: 400px;
}

#img1 {
  object-position: 50% 20%;
}

#img2 {
  object-position: 50% 30%;
}

.we-are-baiteze {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  padding-top: 50px;
  text-align: center;
}

.we-are-baiteze h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.we-are-baiteze p {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  padding-top: 20px;
}
